* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
   background-image: url('B12A01-landing-launchpad/Assets/Hero-bg.png');

    height:500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
   
    align-items: center;
    justify-content: center;
    /* position: relative */

}
nav{
 padding:10px 80px;


}
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.navbar h3 a {
    text-decoration: none;
    font-size: 40px;
    color: rgb(11, 30, 202) ;
    /* position: absolute; */
}
.navbar button {
    font-size:20px;
    padding: 10px 10px;
    background-color: rgb(11, 30, 202) ;
    border: none;
    border-radius:10px;
    color: rgb(231, 231, 231);
}
.navdiv1{
    
    /* background-color: antiquewhite; */
    align-items: center;
    padding-top:10px;
    margin-top:150px;
    align-items: center;
     text-align: center;
     width: 905px;
    height: 237px;
     
    

}
.navdiv1 h1{
   font-size: 70px;
    
    
 
  
 
}
.navdiv1 button {
         background-color: rgb(11, 30, 202) ;
            border: none;
            border-radius: 5px;
            margin: 25px;
            padding: 10px 30px;
}
.navdiv1 button a{
 
      text-decoration: none;
      color: azure;

    }

     .divAction{
    display: flex;

    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 80px;
    margin-left:50px ;
    margin-right: 50px;
    font-size: 40px;


}
.divAction button{
     background-color: rgb(11, 30, 202) ;
     padding: 8px 10px;
     border-radius: 15px;
     


}
.divAction button a{
    color: azure;
    font-size: 30px;
    text-decoration: none;
}
/* Productive Users */
main{
    max-width: 1430px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 116px 159px;
   
 
  
    
}
.mainsection h1{
    color: rgb(0, 0, 0);
    font-size:50px;
   
    

}
section{
    text-align: center;
       background-color: #a584c7;
       padding: 40px 4px;
    
   
    
}
/* section  {
    text-align: center;
       background-color: #9b87f7;
       display: flex;
       padding: 40px 4px;
    
   
    
} */
.usernumer {
    color: rgb(32, 0, 216);
    font-size: 50px;
    
  


}
.usermaindiv{
    display: flex;
    justify-content: space-around;
}
/* End of Users Productive */


